.container{
    height: 200px;
    width: 300px;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 1px solid black;
}